<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @RenderBody()
    <div id="mydiv">
        <a href="http://localhost:26111/">HOME</a><br />
        <a href="http://localhost:26111/display/127.0.0.1/5400/1">show Locations real</a><br />
        <a href="http://localhost:26111/display/127.0.0.1/5400">show one Location real</a><br />
        <a href="http://localhost:26111/save/127.0.0.1/5400/1/5/myFile">save real</a><br />
        <a href="http://localhost:26111/display/123/5400/1">show Locations dummy</a><br />
        <a href="http://localhost:26111/display/123/5400">show one Location dummy</a><br />
        <a href="http://localhost:26111/save/123/5400/1/5/myFile">save dummy</a><br />
    </div>
</body>
</html>