@{
    ViewBag.Title = "DisplayLocation";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<canvas id="myCanvas" style="position:absolute; top: 0; left: 0;"></canvas>

<body>
    <script>
        // get Elements
        var canvas = document.getElementById("myCanvas");

        // Init canvas
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        var ctx = canvas.getContext("2d");

        // get Lon and Lat
        var Lon = @Session["Lon"];
        var Lat = @Session["Lat"];
        var x = (parseFloat(Lon) + 180) * (window.innerWidth / 360);
        var y = (parseFloat(Lat) + 90) * (window.innerHeight / 180);

        // draw
        ctx.fillStyle = "red";
        ctx.arc(x, y, 5, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.fill();
    </script>
</body>