@{
    ViewBag.Title = "DisplayRefreshingLocation";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<canvas id="myCanvas" style="position:absolute; top: 0; left: 0;"></canvas>

<body>
    <script>
        // get Elements
        var canvas = document.getElementById("myCanvas");

        // Init canvas
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        var ctx = canvas.getContext("2d");

        var lastX;
        var lastY;

        var i = 0;

        Timer = (function () {
            $.post("@Url.Action("GetFlightData")").done(function (xml) {
                i++;
                console.log("In timer: " + i);
                var xmlDoc = $.parseXML(xml),
                    $xml = $(xmlDoc),
                Lat = $xml.find("Lat").text();
                Lon = $xml.find("Lon").text();

                $("#prodLon").text(Lon);
                $("#prodLat").text(Lat);

                x = (parseFloat(Lon) + 180) * (window.innerWidth / 360);
                y = (parseFloat(Lat) + 90) * (window.innerHeight / 180);

                // draw
                ctx.beginPath();
                ctx.fillStyle = "red";
                ctx.arc(x, y, 5, 0, 2 * Math.PI);
                ctx.fill();
                ctx.stroke();

                ctx.beginPath();
                if (typeof lastX == 'undefined') {
                    ctx.moveTo(x, y);
                } else {
                    ctx.moveTo(lastX, lastY);
                }
                ctx.lineTo(x, y);
                ctx.stroke();

                lastX = x;
                lastY = y;
            });
        });
        var setIntervalRetVal=setInterval(Timer, @Session["Time"] * 1000);
        Timer();
    </script>
</body>