@model Ex3.Models.DisplayLocation

@{
    ViewBag.Title = "DisplayLocation";
}

<div>
    <img src="~/Image/map.png" alt="map" height="100%" width="100%" style="position:absolute;" />
    <img src="~/Image/airplane.png" alt="airplane" height="50" width="50" style="position:absolute;" />
</div>